# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Indentation settings
[*.{cs,csproj}]
indent_style = space
indent_size = 4

# Tab settings for other file types
[*.{json,xml,yml,yaml}]
indent_style = space
indent_size = 2
